@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #121212;
}

.main {
    display: flex;
}


.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5%;
    padding: 15px 0px 0px 0px;
    gap: 20px;
    position: fixed;
}

/*icons*/
.home-icon,
.plus-icon,
.friend-icon,
.gear-icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #7077A1;
    transition: background-color 0.3s ease, transform 0.3s ease, border-radius 0.3s ease;
}

.gear-icon {
    background-color: green;
}

.gear-icon:hover {
    background-color: #78A083;
    cursor: pointer;
    border-radius: 27px;
}

.home-icon,
.plus-icon,
.friend-icon,
.gear-icon i {
    color: white;
    font-size: 30px;
}

.home-icon:hover,
.plus-icon:hover,
.friend-icon:hover {
    cursor: pointer;
    color: white;
    font-size: 30px;
    background-color: #9290C3;
    border-radius: 27px;
}



/****/

.main-chat {
    width: 95%;
    height: 100vh;
    margin-left: 5%;
    border-radius: 25px;
    background-color: #444444;
}