@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: #f0f0f0;
}

.flexContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    height: 125px;
}

nav {
    height: 175px;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 55%, rgba(1, 0, 255, 1) 100%);
}

nav .logo img {
    width: 300px;
}

nav .elements ul {
    list-style-type: none;
    display: flex;
    color: white;
    gap: 50px;
    font-size: 20px;
}

nav .elements ul li {
    cursor: pointer;
}

.buttons button {
    background-color: #fcba03;
    width: 250px;
    height: 45px;
    font-size: 17px;
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: rgba(9, 9, 121, 1);
    cursor: pointer;
    transition: .3s;
}

.buttons button:hover {
    background-color: #ffce46;
    transform: scale(1.1);
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 50%;
    height: 45px;
}

.options p {
    color: white;
    font-size: 19px;
}

.panel,
.players,
.rounds,
.ranking {
    width: 100%;
    text-align: center;
    height: 100%;
    transition: .1s all ease;
}

.panel:hover,
.players:hover,
.rounds:hover,
.ranking:hover {
    cursor: pointer;
    border-bottom: 2px solid orange;
}

.main {
    height: 78.6vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main .info {
    width: 500px;
    height: 500px;
}


.main .other {
    width: 500px;
    height: 500px;
}

.tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;

}

.basic-info {
    border-left: 1.5px solid rgb(187, 187, 187);
    border-top: 1.5px solid rgb(187, 187, 187);
    border-right: 1.5px solid rgb(187, 187, 187);
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.details {
    border-bottom: 1.5px solid rgb(187, 187, 187);
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#detail-content {
    display: none;
}

.basic-content {
    height: 450px;

}

.tTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 22px;
    padding: 20px;
}

.tTitle i {
    font-size: 42px;
}

.tName {
    width: 90%;
    margin: 0 auto;
}

.tName p {
    color: rgb(122, 122, 122);
}

.tName input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
    padding-left: 20px;
    border: 1px solid rgb(175, 175, 175);
}

.time {
    width: 50%;
}

.time select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.rounds {
    width: 50%;
}

.rounds select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.otherInfo {
    display: flex;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
}

.button {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.button button {
    width: 170px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(170, 215, 170);
    cursor: pointer;
}

.button button:hover {
    background-color: rgb(134, 222, 134);
    ;
}